= render "layouts/main_header"

%section.search-form
  = render "layouts/search_form"

%section.category-search-result
  .category-search-result__contents
    .category-search-result__contents__title
      - if @category.presence
        %h2= "#{@category.name}の検索結果"
      - else
        %h2= "検索結果"
    .category-search-result__contents__count
      %h3= "全#{ @cafe_restaurants.length}件(1〜20件)"
    .category-search-result__contents__list
      %ul.restaurants-list
        - @cafe_restaurants.each do |rst|
          = link_to cafe_restaurant_path(rst.id), class: "rst-link" do
            %li.restaurants-list-item
              .restaurants-list-item__image
                = image_tag "#{rst.images[0].image}", class: "rst-image", width: 200
              .restaurants-list-item__info
                .restaurant-name
                  = rst.name
                .restaurant-category
                  %ul.category-list
                    - rst.categories.each do |category|
                      %li.category-list__item
                        = category.name
                .restaurant-address
                  = rst.prefecture.name
                  = rst.city_ward
                  = rst.block_number
                .restaurant-openinghours
                  = "[#{rst.regular_holidays}]"
                  = rst.opening_hours

= render "layouts/main_footer"