= render "layouts/main_header"

.restaurant-details
  .restaurant-details__contents
    %section.restaurant-details__contents__title
      .restaurant-title
        %h2.restaurant-name= @cafe_restaurant.name

    %section.restaurant-details__contents__images
      .restaurant-images
        %ul.image-outer.slider
          - @cafe_restaurant.images.each do |image|
            %li= image_tag image.image.url, class: 'restaurant-image slide-itme'
          
        %ul.image-dots.thumbnail-list
          - @cafe_restaurant.images.each do |image|
            .image-dots__dot
              = image_tag image.image.url, class: 'dot-inner thumbnail-item', width: 50

    %section.restaurant-details__contents__info
      .restaurant-info
        .info-box
          .restaurant-address
            %i.fas.fa-map-marker-alt.map-icon
            = @prefecture.name
            = @cafe_restaurant.city_ward
            = @cafe_restaurant.block_number
            = @cafe_restaurant.building_name
          .restaurant-phone-number
            %i.fas.fa-phone.phone-icon
            = @cafe_restaurant.phone_number
          .restaurant-description
            = @cafe_restaurant.description

    %section.restaurant-details__contents__features
      .features-contents
        .features-contents__title
          %i.fas.fa-hand-point-right.hand-icon
          %span お店の特徴
        .features-contents__categories
          %ul.categories-list
            - @cafe_restaurant.categories.each do |category|
              %li.categories-list__box
                = category.name

    %section.restaurant-details__contents__oepning-hours
      .oepning-hours__contents
        .oepning-hours__contents__title
          %i.far.fa-clock.clock-icon
          %span.title-text 営業時間
        %ul.oepning-hours__contents__list
          %li.regular_holidays
            = "定休日: [ #{@cafe_restaurant.regular_holidays} ]"
          %li.oepning-hours
            = "営業時間: [ #{@cafe_restaurant.opening_hours} ]"

    %section.restaurant-details__contents__address
      .address__contents
        .address__contents__title
          %i.fas.fa-map-marker-alt.map-icon
          %span.title-text アクセス
        .address__contents__address-info
          = @prefecture.name
          = @cafe_restaurant.city_ward
          = @cafe_restaurant.block_number
          = @cafe_restaurant.building_name

.menu-register
  .menu-register__contents
    .menu-register__contents__title
      %h2 オーナーさん、メニューの登録はこちらから!

    .new-menu
      .new-menu__contents
        %h2.new-menu__contents__title メニュー新規登録
        %p.new-menu__contents__text ※登録したお店のメニューを掲載したい場合、こちらの画面より、メニューの登録を行って下さい
        %ul.tab-menu
          %li.tab-menu__item
            %span.tab-trigger.js-tab-trigger.is-active{"data-id" => "tab01"} メニュー登録
          %li.tab-menu__item
            %span.tab-trigger.js-tab-trigger{"data-id" => "tab02"} 戻る

        .tab-content
          .tab-content__item.js-tab-target.is-active{id: 'tab01'}
            = form_with model: [@cafe_restaurant, @menu], local: true, class: ".new-menu__contents__form", id: "form" do |form|
              .name
                = form.text_field :name, placeholder: "(例) グルテンフリー醤油ラーメン"
              .price
                = form.number_field :price, placeholder: "0"
              .description
                = form.text_area :description, placeholder: "メニューの説明を20文字以内で書いてください"
              .menu-category
                = form.collection_check_boxes(:menu_category_ids, MenuCategory.all, :id, :name) do |category|
                  = category.label do
                    = category.check_box
                    = category.text
              .image
                = form.file_field :image
              .submit
                = form.submit "メニューを追加"
          .tab-content__item.js-tab-target{id: 'tab02'}
            %span なにもなし

        

= render "layouts/main_footer"