%header.toppage-header
  .header-inner
    %h1.header-inner__title glugle
    .header-inner__right-box
      - if user_signed_in?
        .header-inner__right-box__likes
          = link_to "#", class: "likes-link" do
            %i.fas.fa-heart
            %span お気に入り
        .header-inner__right-box__mypage
          = link_to "マイページ", user_path(current_user), class: "mypage-link"
        .header-inner__right-box__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn"
      - else
        .header-inner__right-box__login
          = link_to "ログイン", new_user_session_path, class: "login-btn"
        .header-inner__right-box__registration
          = link_to "新規登録", new_user_registration_path, class: "registration-btn"

%main.top-main
  .top-main__contents
    .swiper-container
      %h1 ここにスライドショーが入る予定

    .search-form
      .search-form__contents
        .search-box
          %form.search-box__form
            %input{placeholder: "キーワード", class: "search-box__form__input"}
            %input{placeholder: "エリア", class: "search-box__form__input"}
            %input{placeholder: "カテゴリー", class: "search-box__form__input"}
            %button.search-box__form__submitBtn 検索
    
    %section.border

    %section.history-log
      .history-log__contents
        .history-log__contents__title
          %h2 保存したお店
        .history-log__contents__restaurants
          %ul.restaurants-list
